* {
    margin: 0;
    padding: 0;
}

body {
    height: 950px;
    background-repeat: no-repeat;
    background:linear-gradient(to right,#003151, #57a0d2);
    
}
body main h2 {
        height: 750px;
        background: url(/css/IMG/Journalist.png);
        background-repeat: no-repeat;
        background-position: center;
    }


header {
    width: 80%;
    padding: 15px 10%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,#003151, #57a0d2);
    border-bottom: 2px solid white;
}
header.logo
{
    font-weight: 600;
    font-size: 40px;

}
    header nav a {
        color: white;
        text-decoration: none;
        margin-left: 40px;
    }
body main h1
{
        color: white;
        text-decoration: none;
        margin-left: 40px;
}
    header nav a: hover { text-decoration: underline}


main {
    width: 80%;
    padding: 15px 40%;
    margin: 50px 0;
}
footer 
{
    margin-top: 950px;
    text-align: center;
    width: 100%;
    padding: 25px 0;
    color: #ffffff;
    
    
}